#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
 line-height: 1.5;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding: 30px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.front {
  justify-content: center;
  align-items: center;
}
.back {
  justify-content: center;
  align-items: center;
}

.front, .back {
  position: absolute;
  width: 600px;
  height: 350px;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
}

.card .front {
  background-color: #ffffff;
}

.card .back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}